<!DOCTYPE html>
<html>
<head>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>Admin Forgot Password - Constrix</title>

    <link rel="stylesheet" href="/CSS/login.css">
    <link rel="stylesheet" href="/CSS/mobile.css">
</head>

<body>

<div class="login-container">
    <div class="login-box">

        <h2>Forgot Password</h2>

        <p>
            Enter your registered Admin email
            to continue password recovery.
        </p>

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <form method="POST">

            <div class="input-group">
                <label>Registered Email</label>

                <input
                    type="email"
                    name="email"
                    placeholder="Enter registered email"
                    required
                >
            </div>

            <button type="submit">
                Continue
            </button>

        </form>

        <p>
            <a href="{{ url_for('admin_login') }}">
                Back to Admin Login
            </a>
        </p>

    </div>
</div>

</body>
</html>